*{
    margin: 0;
    padding: 0;
}

/*----------------------------------------------------------------------------------*/
/* HOME */
/*----------------------------------------------------------------------------------*/

.wrapper{
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}
.snap{
    height: 100vh;
    scroll-snap-align: start;
}
.wrapper .snap:nth-child(1){
    background-color: red;
}
.wrapper .snap:nth-child(2){
    background-color: yellow;
}
.wrapper .snap:nth-child(3){
    background-color: green;
}
.wrapper .snap:nth-child(4){
    background-color: blue;
}
.wrapper .snap:nth-child(5){
    background-color: purple;
}